body{
	margin: 0px;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img{
	width: 500px;
	height: 450px;
	margin: 0.1px;
	transition: all 1s;
}
h1{
	font-family: 'Pacifico', cursive;
	text-align: center;
	border-bottom: 3px solid royalblue;
	width: 600px; 
	box-shadow: 5px 5px 5px royalblue;
	margin-top: 10px;
}
img:hover{
	transform: scale(1.1);

}